* {box-sizing:border-box}

body{
  background-color: black ;
  background: -webkit-gradient(linear, left top, left bottom,
  color-stop(0%, rgba(0, 0, 0, 1)),
   color-stop(10%, rgba(0, 0, 0, 1)), 
   color-stop(24%, rgba(3, 39, 36, 1)),
    color-stop(37%, rgba(12, 28, 10, 1)), 
    color-stop(77%, rgba(2, 0, 0, 1)),
     color-stop(90%, rgba(36, 39, 3, 1)),
      color-stop(100%, rgba(0, 0, 0, 1)));

}


/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slideshow-container .mySlides {
  display: none;
}

/* Caption text */
.slideshow-container .text {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: red;
  
  font-size: 50px ;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  margin-bottom: 75px;
  font-weight: bolder;
}
.slideshow-container .c2{
  -webkit-text-fill-color: purple;
}
.slideshow-container .c1{
  -webkit-text-fill-color: silver;
}


/* Fading animation */
.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
