.body {
  background-image: url(../images/voitures/2021-tesla-model-s.jpg)!important;
  background-size:cover !important;
  background-position:center center !important;
  background-attachment:fixed !important;
  background-repeat:no-repeat !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100vh;
}

.bouton-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.btn {
  margin: 10px;
}