
body{
    overflow: auto;
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, rgba(26, 49, 95, 1)),
    color-stop(10%, rgba(26, 49, 95, 1)),
    color-stop(24%, rgba(29, 108, 141, 1)),
    color-stop(37%, rgba(41, 136, 151, 1)),
    color-stop(77%, rgba(39, 45, 100, 1)),
    color-stop(90%, rgba(26, 49, 95, 1)),
    color-stop(100%, rgba(26, 49, 95, 1)));
}

.tout{
    flex-direction: column;
    float: right;
    display: flex;
    margin-left:70px;
}
.corps{
    background-color: #15172b;
    width: 100px;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
}
.corpsPanier{
    background-color: #15172b;
    border-radius: 12px;
    width: 800px !important;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 0 0;
    margin-top: 70px;
}
button{
    margin-left: 10%;
    margin-bottom: 5%;
    border: 0;
    background-color: #08d;
    border-radius: 12px;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 10%;
    text-align: center;
    width: 80%;
}

div .img{
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    width: 100%;
}
img{
    border-radius: 12px;

}
div .desc{
    font-family: arial;
    margin-top: 5;
    background-color: #303245;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px;
    border-radius: 12px;


}
div .descPanier{
    font-family: arial;
    margin-top: 5;
    background-color: #303245;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px;
    border-radius: 12px;
    display : flex;
    width: 100%;



}
.tout .li{
    list-style: none;
    padding-left: 20px;
}
.li{
    margin-left: 10%;
}
.tout ul{
    display: flex;
}
.descPanier ul{
    list-style: none;
}
.descPanier li{
    margin-left: 15px;
    list-style-type: none;
}
p{
    background-color: #5e6281;
    border-radius: 12px;
    padding : 3%;
    border:5px;
    padding-bottom: 10px;
    margin-top : 0;
}

