body {
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, rgba(26, 49, 95, 1)),
    color-stop(10%, rgba(26, 49, 95, 1)),
    color-stop(24%, rgba(29, 108, 141, 1)),
    color-stop(37%, rgba(41, 136, 151, 1)),
    color-stop(77%, rgba(39, 45, 100, 1)),
    color-stop(90%, rgba(26, 49, 95, 1)),
    color-stop(100%, rgba(26, 49, 95, 1)));
    display: flex;
    justify-content: center;
    height: 90vh;
}
.Info-User{
    text-align: center;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 600px;
    width: 450px;
}

.Title {
    display: inline;
    margin-bottom: 50px;
    color: white;
    border-bottom: 3px solid white;
    position: relative;
    top: 50px;
    font-size: 3rem;
}
.txt{
    color: white;
    margin-top: 100px;
}
.btn-1, .btn-2 {
    margin-top: 3%;
    width: 100%;
    display: inline-flex;
}
 a {
    color: #ffffff;
    text-decoration: none;
}
.btn {
    width: 200px;
    border: 0;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    background-color: #08d;
    border-radius: 12px;
    box-sizing: border-box;
    height: 35px;
    margin-left: 15px;
}

.btn:hover {
    background-color: rgb(0, 221, 92);
}
.retourAcceuil {

    margin-top: 5%;
    display: block;
    color: white;
}