.nav-item{
  font-size: 17px;
}
header{
  position: fixed;
  width: 100%;
}
.dropdown-item {
  z-index: 10;
}

.navbar-nav{
  cursor: pointer;
}
a{
  margin-right: 10px;
}

.dropdown-item{
  z-index: 10;
}