
body{
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%, rgba(26, 49, 95, 1)),
    color-stop(10%, rgba(26, 49, 95, 1)),
    color-stop(24%, rgba(29, 108, 141, 1)),
    color-stop(37%, rgba(41, 136, 151, 1)),
    color-stop(77%, rgba(39, 45, 100, 1)),
    color-stop(90%, rgba(26, 49, 95, 1)),
    color-stop(100%, rgba(26, 49, 95, 1)));
    display: inline-block;
    
    margin-left: 10%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sofia', sans-serif;
}
.wrap{
    display: flex;
}
.allVoitures h2 {
    color: #0a4870;
    font-weight: 500;
}
.allVoitures .page.ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.wrap{
    padding-top: 100px;
    display: flex;
}
.allVoitures ul .booking-card {
    position: relative;
    width: 300px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    transition: 0.3s;
    z-index: auto;
}
.allVoitures ul .booking-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
}
.allVoitures ul .booking-card .book-container {
    height: 200px;
}
.allVoitures ul .booking-card .book-container .content {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(-200px);
    transition: 0.3s;
}
.allVoitures ul .booking-card .book-container .content .btn {
    border: 3px solid white;
    padding: 10px 15px;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.allVoitures ul .booking-card .book-container .content .btn:hover {
    background: white;
    border: 0px solid white;
    color: #0a4870;
}
.allVoitures ul .booking-card .informations-container {
    flex: 1 0 auto;
    padding: 20px;
    background: #f0f0f0;
    transform: translateY(206px);
    transition: 0.3s;
}
.allVoitures ul .booking-card .informations-container .title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
.allVoitures ul .booking-card .informations-container .title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background: #0a4870;
}
.allVoitures ul .booking-card .informations-container .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.allVoitures ul .booking-card .informations-container .price .icon {
    margin-right: 10px;
}
.allVoitures ul .booking-card .informations-container .more-information {
    opacity: 0;
    transition: 0.3s;
}
.allVoitures ul .booking-card .informations-container .more-information .info-and-date-container {
    display: flex;
}
.allVoitures ul .booking-card .informations-container .more-information .info-and-date-container .box {
    flex: 1 0;
    padding: 15px;
    margin-top: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: white;
    font-weight: bold;
    font-size: 0.9em;
}
.allVoitures ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
    margin-bottom: 5px;
}
.allVoitures ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
    color: #ec992c;
    margin-right: 10px;
}
.allVoitures ul .booking-card .informations-container .more-information .disclaimer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #7d7d7d;
}
.allVoitures ul .booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
}
.allVoitures ul .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
}
.allVoitures ul .booking-card:hover .informations-container {
    transform: translateY(0px);
}
.allVoitures ul .booking-card:hover .informations-container .more-information {
    opacity: 1;
}

.allVoitures .credits {
    display: table;
    background: #0a4870;
    color: white;
    line-height: 25px;
    margin: 10px auto;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}
.allVoitures .credits a {
    color: #e3ebf1;
}
.allVoitures h1 {
    margin: 10px 20px;
}


.page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "me"
                        "allV" ;
}
.voitures{
    margin-top: 50px;
    margin-left: 75px;
    
    grid-area: allV;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.menu{
    top: 0px;
    grid-area: me;
    z-index: 100;
}

.allVoitures{
    
    position: relative;
    
}

@media screen and (max-width: 1300px) {
    .voitures{
        grid-template-columns: 1fr 1fr 1fr; 
    }
}
@media screen and (max-width: 1000px) {
    .voitures{
        grid-template-columns: 1fr 1fr; 
    }
}
@media screen and (max-width: 750px) {
    .voitures{
        grid-template-columns: 1fr; 
    }
}

@media screen and (max-width: 985px) {
    .menu{
        height: 20px !important;
    }
}